<div class="container content-detail">
    <div class="row">
        <div class="colum-4 img-detail">
            <img src="{{films.img}}" alt="" class="img-dt" />
        </div>
        <div class="colum-8 head-name">
            <div class="text-name">
                {{films.name}}
            </div>
            <div class="star">
                <ul class="list-star">
                    <li>
                        <i class="fas fa-star active-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star active-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star active-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star active-star"></i>
                    </li>
                    <li>
                        <i class="fas fa-star active-star"></i>
                    </li>
                </ul>
            </div>
            <div class="tag-film color-text">
                <a href="" style="color: #FEFEFE;">
                    <i class="fas fa-tags" style="color: #C59A22;"></i>
                    {{films.theLoai.Tenloai}}
                </a>
            </div>
            <div class="btn-play">
                <a href="#trailer">
                    <button class="btn-trailer">Trailer</button>
                </a>
                <a href="">
                    <button class="btn-xem">Xem phim</button>
                </a>
            </div>
            <div class="content-detail-body">
                <ul class="list-content">
                    <li class="item-content">
                        <label for="daoDien">Đạo diễn:</label>
                        {{films.daoDien}}
                    </li>
                    <li class="item-content">
                        <label for="">Thời lượng:</label>
                        {{films.thoiLuong}}
                    </li>
                    <li class="item-content">
                        <label for="">Năm sản xuất:</label>
                        {{films.namSuatBan.year}}
                    </li>
                    <li class="item-content">
                        <label for="">Quốc gia:</label>
                        {{films.quocGia.region}}
                    </li>
                    <li class="item-content">
                        <label for="">Thể loại:</label>
                        {{films.theLoai.Tenloai}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="colum-4" style="color: #C59A22;font-size: 1.4rem;">
            Nội Dung
        </div>
        <div class="colum-12">
            <p class="mota">
                {{films.moTa}}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="colum-12">
            <div id="trailer" class="trailer-video">
                <iframe
                    class="ifram-trailer"
                    src="https://www.youtube.com/embed/{{films.trailer}}"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                ></iframe>
            </div>
        </div>
    </div>
</div>