<div class="container content-add mt-4">
    <h1 style="color:#F1B722;">Sửa phim <span class="badge badge-secondary">EDIT</span></h1>
    <div class="row">
        <div class="colum-12">
            <form method="POST" action="/films/update/{{Film._id}}?_method=PUT">
                <div class="form-group">
                    <label class="label" for="theLoai">Thể Loại:</label>
                    <select name="theLoai" data-placeholder="Chọn Thể Loại:" class="select-cus">
                        <option value="{{Film.theLoai.Tenloai}}">--- Chọn thể loại ---</option>
                        <option value="phim tình cảm">phim tình cảm</option>
                        <option value="phim hành động">phim hành động</option>
                        <option value="phim chiếu rạp">phim chiếu rạp</option>
                        <option value="phim nước mắt">phim nước mắt</option>
                        <option value="phim hoạt hình">phim hoạt hình</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label" for="quocGia">Quốc gia:</label>
                    <select name="quocGia" data-placeholder="Chọn quốc gia:" class="select-cus">
                        <option value="{{Film.quocGia.region}}">--- Chọn quốc gia phim ---</option>
                        <option value="Mỹ">Mỹ</option>
                        <option value="Trung Quốc">Trung Quốc</option>
                        <option value="Nhật Bản">Nhật Bản</option>
                        <option value="Hàn Quốc">Hàn Quốc</option>
                        <option value="Thái Lan">Thái Lan</option>
                        <option value="Việt Nam">Việt Nam</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="label" for="namSuatban">
                        Năm xuất bản:</label>
                    <input type="text" class="form-control input-width" name="namSuatBan"
                        placeholder="Năm xuất bản phim" value="{{Film.namSuatBan.year}}" />
                </div>
                <div class="form-group">
                    <label class="label" for="danhMuc">
                        Danh mục phim:</label>
                    <input type="text" class="form-control input-width" name="category"
                        placeholder="Danh mục phim (bắt buộc)" value="{{Film.category.category}}"/>
                </div>
                <div class="form-group">
                    <label class="label" for="name"> Tên:</label>
                    <input type="text" class="form-control input-width" name="name" placeholder="Tên phim"
                        value="{{Film.name}}" />
                </div>
                <div class="form-group">
                    <label class="label" for="img"> Path ảnh:</label>
                    <input type="text" class="form-control input-width" name="img" placeholder="Path ảnh phim"
                        value="{{Film.img}}" />
                </div>
                <div class="form-group">
                    <label class="label" for="rate">Rate:</label>
                    <input type="text" class="form-control input-width" name="rate" placeholder="Rate phim"
                        value="{{Film.rate}}" />
                </div>
                <div class="form-group">
                    <label class="label" for="thoiLuong">
                        Thời lượng:</label>
                    <input type="text" class="form-control input-width" name="thoiLuong" placeholder="Thời lượng phim"
                        value="{{Film.thoiLuong}}" />
                </div>
                <div class="form-group">
                    <label class="label" for="trailer">Trailer:</label>
                    <input type="text" class="form-control input-width" name="trailer" placeholder="Trailer phim"
                        value="{{Film.trailer}}" />
                </div>
                <div class="form-group">
                    <label class="label" for="full">Full movie:</label>
                    <input type="text" class="form-control input-width" name="full" placeholder="Full video phim"
                        value="{{Film.full}}" />
                </div>
                <div class="form-group">
                    <label class="label" for="moTa"> Mô tả:</label>
                    <textarea cols="30" rows="5" type="text" class="form-control input-width" name="moTa"
                        placeholder="Mô tả">{{Film.moTa}}</textarea>
                </div>
                <div class="form-group">
                    <label class="label" for="daoDien"> Đạo diễn:</label>
                    <input type="text" class="form-control input-width" name="daoDien" placeholder="Đạo diễn phim"
                        value="{{Film.daoDien}}" />
                </div>
                <button type="submit" class="btn btn-primary btn-cus">Update</button>
            </form>
        </div>
    </div>
</div>