<div class="container mt-4">
    <div class="colum-12">
        <div class="head-list">
            <p class="text-head-list">
                Danh sách phim trang chủ
            </p>
        </div>
        <table class="table table-light border-r">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên phim</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Thể loại</th>
                    <th scope="col" colspan="2">Tùy chọn</th>
                </tr>
            </thead>
            <tbody>
                {{#each data1}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.rate}}</td>
                    <td>{{this.theLoai.Tenloai}}</td>
                    <td><a href="#" class="btn-xoa" data-toggle="modal" data-target="#delete-films"
                            data-id="{{this._id}}">Xóa</a></td>
                    <td><a href="films/edit/{{this._id}}" class="btn-sua">Sửa</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="colum-12">
        <div class="head-list">
            <p class="text-head-list">
                Danh sách phim đề cử
            </p>
        </div>
        <table class="table table-light border-r">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên phim</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Danh mục</th>
                    <th scope="col" colspan="2">Tùy chọn</th>
                </tr>
            </thead>
            <tbody>
                {{#each data2}}
                <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.rate}}</td>
                    <td>{{this.category.category}}</td>
                    <td><a href="#" class="btn-xoa" data-toggle="modal" data-target="#delete-films"
                            data-id="{{this._id}}">Xóa</a></td>
                    <td><a href="films/edit/{{this._id}}" class="btn-sua">Sửa</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <a href="/films/add">
        <button class="btn btn-success">Thêm Phim vào danh sách</button>
    </a>
</div>
<div class="modal" tabindex="-1" role="dialog" id="delete-films">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa phim ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn có chắc chắn muốn xóa khóa học này</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-films">Xóa</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
<form method="POST" id="dele"></form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var filmsID;
        var dlef = document.getElementById('dele')
        $('#delete-films').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var id = button.data('id')
            filmsID = id;
        })
        var btnDelete = document.getElementById('btn-delete-films');
        btnDelete.onclick = function () {
            dlef.action = '/films/' + filmsID + '?_method=DELETE'
            dlef.submit();
        }
    })

</script>
