<div class="container ">
    <div class="colum-12">
        <div class="row">
            <div class="colum-4 right-per">
                <div class="img-pers">
                    <img src="{{newData.personalInformations.img}}"
                        alt="ảnh cá nhân" class="img-pers">
                </div>
                <div class="body-persons">
                    <p class="text-per color-icon">{{newData.personalInformations.name}}</p>
                </div>
                <button class="btn-submit-infor" style="width: 80px; height: 30px;"><a href="/user/formUpload/{{newData._id}}" style="color: black;">Đổi ảnh</a></button>
            </div>
            <div class="colum-8">
                <div class="content-person">
                    <div class="infor-pers color-text">
                        Thông tin người dùng
                    </div><br>
                    <div class="infor">
                        <p class="text-per-body color-icon"><span style="color: #fefefe;">Username : </span>{{newData.username}}</p>
                    </div>
                    <div class="infor">
                        <p class="text-per-body color-icon"><span style="color: #fefefe;">Email : </span>{{newData.personalInformations.email}}</p>
                    </div>
                    <div class="infor">
                        <p class="text-per-body color-icon"><span style="color: #fefefe;">Chức vụ : </span>{{newData.role}}</p>
                    </div>
                    <div class="infor">
                        <p class="text-per-body color-icon"><span style="color: #fefefe;">Tuổi : </span>{{newData.personalInformations.age}}</p>
                    </div>
                    <div class="infor">
                        <p class="text-per-body color-icon"><span style="color: #fefefe;">Sở thích : </span>{{newData.personalInformations.favorite}}</p>
                    </div>
                    <div class="fav color-text">
                        Phim yêu thích
                    </div>
                    <table class="table table-black">
                        <thead>
                            <tr>
                                <th class="tb-per" scope="col">STT</th>
                                <th class="tb-per" scope="col">Tên phim</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="tb-per" scope="row">1</th>
                                <td class="tb-per">Mark</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn-submit-infor"><a style="font-size: 1.2rem;color: black;" href="/user/addInfor/{{newData._id}}">Chỉnh sửa</a></button>
                    <button class="btn-submit-infor"><a style="font-size: 1.2rem;color: black;" href="/user/logout">Đăng xuất</a></button>
                </div>
            </div>
        </div>
    </div>
</div>